  body
  {
    background: #282B30;
    font: 13px Verdana;
    margin-top: 40px;
  }

  ::-webkit-scrollbar
  {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track
  {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color: #2E3136;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-button
  {
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner
  {
    background-color: transparent;
  }

  p
  {
    color: #FFFFFF;
  }

  p
  {
    color: #FFFFFF;
  }

  a#connection
  {
    color: #2691c2;
    text-transform: capitalize;
    text-decoration: none;
  }

  a
  {
    color: #2691c2;
    text-decoration: none;
  }

  a:hover
  {
 /*ici*/
    cursor: pointer;
    text-decoration: underline;
  }

  label
  {
    color: #2691c2;
  }

  #chat
  {
    background-color: #36393E;
  }

  #msg_list>li.m10
  {
 /* Normal*/
    color: #c3c4c5;
    font-size: 13px;
  }

  #msg_list>li.mi
  {
 /* Jaune*/
    color: #ffff7c;
    font-size: 13px;
    font-style: italic;
  }

  #msg_list>li.ma
  {
 /* Bleu*/
    color: #569FFF;
    font-size: 13px;
  }

  #msg_list>li.mg
  {
 /*Vert*/
    color: #30ff98;
    font-size: 13px;
  }

  #msg_list>li.m13
  {
 /*Spectateur*/
    color: #fa8072;
    font-size: 13px;
  }

  #msg_list>li.m12
  {
 /* Mort*/
    color: #070707;
  }

  #msg_list>li.mg>h2
  {
 /*Spécial*/
    color: #ff0a80;
  }

  #right
  {
    background-color: #2E3136;
    position: relative;
    width: 155px;
  }

  #player_list
  {
    background-color: transparent;
    width: 210px;
  }

  li
  {
    color: #C4C4C4;
    font-size: 13px;
  }

  #dead_players
  {
    text-decoration: line-through;
    color: #FFFF00;
    font-size: 13px;
    font-style: italic;
  }

  h3
  {
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: underline;
  }

  #left
  {
    background-color: #2E3136;
  }

  #compo
  {
    background-color: #2E3136;
  }

  #chat_text_input
  {
    background-color: #36393E;
    color: #c3c4c5;
    border-style: none solid none solid;
    border-color: #1c1e21;
    border-width: 1px;
    outline: none;
    overflow: auto;
    width: 300px;
    height: 27px;
  }

  #chat_input
  {
    background-color: #2E3136;
    border-style: solid solid none none;
    border-color: #1c1e21;
    border-width: 1px;
  }

  #content
  {
    border-style: solid;
    border-color: #1c1e21;
    border-width: 1px;
    background-color: #2E3136;
  }

  #chat_text
  {
    border-style: none solid none solid;
    border-width: 1px;
    border-color: #1c1e21;
    height: 95.3%;
  }

  button#chat_button
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    outline: none;
  }

  button#chat_button:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#chat_button:active
  {
    background-color: #49b482;
  }

  button#B_button
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    outline: none;
  }

  button#B_button:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#quit
  {
    font-size: 12px;
    color: #fff;
    background: #7289da;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-left: 5px;
    outline: none;
  }

  button#quit:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#quit:active
  {
    background-color: #ed494c;
  }

  button#start_button
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-left: 5px;
    outline: none;
  }

  button#start_button:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#join_button
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-left: 5px;
    outline: none;
  }

  button#join_button:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#play
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-left: 5px;
    outline: none;
  }

  button#play:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#S1_button
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-left: 5px;
    outline: none;
  }

  button#S1_button:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  select#S1
  {
    outline: none;
    margin-left: 4px;
  }

  button#S2_button
  {
    font-size: 12px;
    color: #fff;
    background: #7289da;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    outline: none;
  }

  button#S2_button:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  p#B
  {
    color: white;
  }

  #compopane
  {
    background-color: #2E3136;
    color: white;
  }

  p#isranked
  {
    text-align: center;
  }

  #time>h3
  {
    text-decoration: none;
  }

  #edit_compo
  {
    background-color: #2E3136;
    width: 468px;
    height: 546px;
    padding: 3px;
    margin-top: -1px;
    position: absolute;
    border-style: solid;
    border-color: #1c1e21;
    border-width: 1px;
    z-index: 10;
  }

  button#close:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  button#close
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    outline: none;
  }

  button#confirmation_compo
  {
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    outline: none;
  }

  button#confirmation_compo:hover
  {
    color: #fff;
    background: #5a75c6;
  }

  .block
  {
    margin-left: 2px;
  }

  .simple_block
  {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
  }

  .simple_block:hover
  {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
  }

  .simple_block_selected
  {
    border-width: 1px;
    border-color: #000000;
  }

  button#close
  {
    float: right;
  }

  button#confirmation_compo
  {
    float: right;
  }
/* smileys */
  img[src="/static/images/smileys/29.gif"]
  {
 /* rire */
    content: url(http://i.imgur.com/v6KMQzC.gif);
    background: url(http://i.imgur.com/v6KMQzC.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/37.gif"]
  {
 /* rire2 */
    content: url(http://i.imgur.com/rSSAuat.gif);
    background: url(http://i.imgur.com/rSSAuat.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/39.gif"]
  {
 /* sarcastic */
    content: url(http://i.imgur.com/PcyGT0Y.gif);
    background: url(http://i.imgur.com/PcyGT0Y.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/22.gif"]
  {
 /* :( */
    content: url(http://i.imgur.com/lKqWNtA.gif);
    background: url(http://i.imgur.com/lKqWNtA.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/9.gif"]
  {
 /* hap */
    content: url(http://i.imgur.com/r9QHx9t.gif);
    background: url(http://i.imgur.com/r9QHx9t.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/1.gif"]
  {
 /* :) */
    content: url(http://i.imgur.com/jFhsBfh.gif);
    background: url(http://i.imgur.com/jFhsBfh.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/70.gif"]
  {
 /* banzai */
    content: url(http://i.imgur.com/hrmEnVX.gif);
    background: url(http://i.imgur.com/hrmEnVX.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 49px !important;
    padding-top: 42px !important;
  }

  img[src="/static/images/smileys/71.gif"]
  {
 /* bave */
    content: url(http://i.imgur.com/p80tRSk.gif);
    background: url(http://i.imgur.com/p80tRSk.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/34.gif"]
  {
 /* nonnon */
    content: url(http://i.imgur.com/nz7TmYX.gif);
    background: url(http://i.imgur.com/nz7TmYX.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/51.gif"]
  {
 /* ange */
    content: url(http://i.imgur.com/GUa26X9.gif);
    background: url(http://i.imgur.com/GUa26X9.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 31px !important;
    padding-top: 24px !important;
  }

  img[src="/static/images/smileys/7.gif"]
  {
 /* bravo */
    content: url(http://i.imgur.com/DlTI2TV.gif);
    background: url(http://i.imgur.com/DlTI2TV.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 17px !important;
  }

  img[src="/static/images/smileys/99.gif"]
  {
 /* X clown X */
    content: url(http://i.imgur.com/UyCcXNx.gif);
    background: url(http://i.imgur.com/UyCcXNx.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/27.gif"]
  {
 /* coeur */
    content: url(http://i.imgur.com/T0d4hn7.gif);
    background: url(http://i.imgur.com/T0d4hn7.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 21px !important;
    padding-top: 20px !important;
  }

  img[src="/static/images/smileys/17.gif"]
  {
 /* content */
    content: url(http://i.imgur.com/mFdJbKi.gif);
    background: url(http://i.imgur.com/mFdJbKi.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/25.gif"]
  {
 /* cool */
    content: url(http://i.imgur.com/FuAX0M3.gif);
    background: url(http://i.imgur.com/FuAX0M3.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/45.gif"]
  {
 /* ok */
    content: url(http://i.imgur.com/sMhPab7.gif);
    background: url(http://i.imgur.com/sMhPab7.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 24px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/8.gif"]
  {
 /* :d) */
    content: url(http://i.imgur.com/BqLTQ3z.gif);
    background: url(http://i.imgur.com/BqLTQ3z.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/55.gif"]
  {
 /* desole */
    content: url(http://i.imgur.com/VIPEETl.gif);
    background: url(http://i.imgur.com/VIPEETl.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 47px !important;
    padding-top: 39px !important;
  }

  img[src="/static/images/smileys/52.gif"]
  {
 /* diable Circulez */
    content: url(http://i.imgur.com/o6YEyt0.png);
    width: 70px;
    height: 53px;
  }

  img[src="/static/images/smileys/43.gif"]
  {
 /* doute */
    content: url(http://i.imgur.com/syvh5jA.gif);
    background: url(http://i.imgur.com/syvh5jA.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/48.gif"]
  {
 /* fete */
    content: url(http://i.imgur.com/IgvsRBE.gif);
    background: url(http://i.imgur.com/IgvsRBE.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 26px !important;
    padding-top: 21px !important;
  }

  img[src="/static/images/smileys/35.gif"]
  {
 /* fier */
    content: url(http://i.imgur.com/1B4kMhk.gif);
    background: url(http://i.imgur.com/1B4kMhk.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/31.gif"]
  {
 /* fou */
    content: url(http://i.imgur.com/kaP5Hgh.gif);
    background: url(http://i.imgur.com/kaP5Hgh.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/4.gif"]
  {
 /* :g) */
    content: url(http://i.imgur.com/O6FWdYX.gif);
    background: url(http://i.imgur.com/O6FWdYX.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/65.gif"]
  {
 /* gne */
    content: url(http://i.imgur.com/N582gar.gif);
    background: url(http://i.imgur.com/N582gar.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 65px !important;
    padding-top: 46px !important;
  }

  img[src="/static/images/smileys/53.gif"]
  {
 /* gni sbnoel */
    content: url(http://i.imgur.com/uoJQ4b1.gif);
    background: url(http://i.imgur.com/uoJQ4b1.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/36.gif"]
  {
 /* honte */
    content: url(http://i.imgur.com/QVvB4FV.gif);
    background: url(http://i.imgur.com/QVvB4FV.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/69.gif"]
  {
 /* hs Jesus 3 */
    content: url(http://i.imgur.com/HO1IDS5.png);
    background: url(http://i.imgur.com/HO1IDS5.png);
  }

  img[src="/static/images/smileys/50.gif"]
  {
 /* hum */
    content: url(http://i.imgur.com/4i4zCoA.gif);
    background: url(http://i.imgur.com/4i4zCoA.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/47.gif"]
  {
 /* malade */
    content: url(http://i.imgur.com/penLiBN.gif);
    background: url(http://i.imgur.com/penLiBN.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/57.gif"]
  {
 /* merci circulez 2 */
    content: url(http://i.imgur.com/0JTqALW.png);
    background: url(http://i.imgur.com/0JTqALW.png);
  }

  img[src="/static/images/smileys/40.gif"]
  {
 /* monoeil */
    content: url(http://i.imgur.com/7DKxtiA.gif);
    background: url(http://i.imgur.com/7DKxtiA.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/28.gif"]
  {
 /* mort */
    content: url(http://i.imgur.com/yPYc0MD.gif);
    background: url(http://i.imgur.com/yPYc0MD.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/46.gif"]
  {
 /* non */
    content: url(http://i.imgur.com/R49yFTG.gif);
    background: url(http://i.imgur.com/R49yFTG.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/38.gif"]
  {
 /* non2 */
    content: url(http://i.imgur.com/ORI16s9.gif);
    background: url(http://i.imgur.com/ORI16s9.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/14.gif"]
  {
 /* ouch2 */
    content: url(http://i.imgur.com/TQ8eW8Q.gif);
    background: url(http://i.imgur.com/TQ8eW8Q.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/10.gif"]
  {
 /* ouch */
    content: url(http://i.imgur.com/nxlM3V1.gif);
    background: url(http://i.imgur.com/nxlM3V1.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/18.gif"]
  {
 /* :p) */
    content: url(http://i.imgur.com/qP9xtAx.gif);
    background: url(http://i.imgur.com/qP9xtAx.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/49.gif"]
  {
 /* sournois */
    content: url(http://i.imgur.com/ogpfiBz.gif);
    background: url(http://i.imgur.com/ogpfiBz.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/58.gif"]
  {
 /* svp */
    content: url(http://i.imgur.com/DbAEmn2.gif);
    background: url(http://i.imgur.com/DbAEmn2.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 50px !important;
    padding-top: 39px !important;
  }

  img[src="/static/images/smileys/26.gif"]
  {
 /* :-( */
    content: url(http://i.imgur.com/NtNVpB2.gif);
    background: url(http://i.imgur.com/NtNVpB2.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/5.gif"]
  {
 /* :-) */
    content: url(http://i.imgur.com/rR7prs2.gif);
    background: url(http://i.imgur.com/rR7prs2.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/33.gif"]
  {
 /* :-D */
    content: url(http://i.imgur.com/4zZhbUr.gif);
    background: url(http://i.imgur.com/4zZhbUr.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/19.gif"]
  {
 /* :-p */
    content: url(http://i.imgur.com/mRt4NdC.gif);
    background: url(http://i.imgur.com/mRt4NdC.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/63.gif"]
  {
 /* up */
    content: url(http://i.imgur.com/nA3hXsy.gif);
    background: url(http://i.imgur.com/nA3hXsy.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 37px !important;
    padding-top: 42px !important;
  }

  img[src="/static/images/smileys/23.gif"]
  {
 /* peur */
    content: url(http://i.imgur.com/cfIHeMU.gif);
    background: url(http://i.imgur.com/cfIHeMU.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/24.gif"]
  {
 /* question */
    content: url(http://i.imgur.com/W1u3QHp.gif);
    background: url(http://i.imgur.com/W1u3QHp.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 26px !important;
    padding-top: 24px !important;
  }

  img[src="/static/images/smileys/32.gif"]
  {
 /* sleep */
    content: url(http://i.imgur.com/AbL8Xoz.gif);
    background: url(http://i.imgur.com/AbL8Xoz.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 23px !important;
    padding-top: 26px !important;
  }

  img[src="/static/images/smileys/6.gif"]
  {
 /* snif2 */
    content: url(http://i.imgur.com/UsXawst.gif);
    background: url(http://i.imgur.com/UsXawst.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/2.gif"]
  {
 /* snif */
    content: url(http://i.imgur.com/kgnb3da.gif);
    background: url(http://i.imgur.com/kgnb3da.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/13.gif"]
  {
 /* :-))) */
    content: url(http://i.imgur.com/yO90Yog.gif);
    background: url(http://i.imgur.com/yO90Yog.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/21.gif"]
  {
 /* oui */
    content: url(http://i.imgur.com/ocI5udl.gif);
    background: url(http://i.imgur.com/ocI5udl.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/41.gif"]
  {
 /* :o)) */
    content: url(http://i.imgur.com/JCScRFe.gif);
    background: url(http://i.imgur.com/JCScRFe.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/61.gif"]
  {
 /* rechercher 4gFdp */
    content: url(http://i.imgur.com/XY66XKx.gif);
  }

  img[src="/static/images/smileys/73.gif"]
  {
 /* cimer */
    content: url(http://i.imgur.com/hNm7eXZ.gif);
    background: url(http://i.imgur.com/hNm7eXZ.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 57px !important;
    padding-top: 36px !important;
  }

  img[src="/static/images/smileys/77.gif"]
  {
 /* siffle */
    content: url(http://i.imgur.com/l0djjya.gif);
    background: url(http://i.imgur.com/l0djjya.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 22px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/30.gif"]
  {
 /* :-(( */
    content: url(http://i.imgur.com/ppHidMq.gif);
    background: url(http://i.imgur.com/ppHidMq.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/42.gif"]
  {
 /* nah */
    content: url(http://i.imgur.com/dTu13VR.gif);
    background: url(http://i.imgur.com/dTu13VR.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/54.gif"]
  {
 /* play */
    content: url(http://i.imgur.com/ae38kcw.gif);
    background: url(http://i.imgur.com/ae38kcw.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 19px !important;
    padding-top: 28px !important;
  }

  img[src="/static/images/smileys/62.gif"]
  {
 /* hello */
    content: url(http://i.imgur.com/WHlrFTr.gif);
    background: url(http://i.imgur.com/WHlrFTr.gif);
  }

  img[src="/static/images/smileys/66.gif"]
  {
 /* lol Jesus */
    content: url(http://i.imgur.com/wiWUFjT.png);
    height: 53px;
    width: 70px;
  }

  img[src="/static/images/smileys/74.gif"]
  {
 /* ddb */
    content: url(http://i.imgur.com/MhaWAbd.gif);
    background: url(http://i.imgur.com/MhaWAbd.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 49px !important;
    padding-top: 40px !important;
  }

  img[src="/static/images/smileys/11.gif"]
  {
 /* pacg risitas */
    content: url(http://image.noelshack.com/fichiers/2016/43/1477531827-1466366197-risitas10.png);
    background: url(http://image.noelshack.com/fichiers/2016/43/1477531827-1466366197-risitas10.png);
  }

  img[src="/static/images/smileys/3.gif"]
  {
 /* gba Jesus 2 */
    content: url(http://i.imgur.com/ut3AdK9.png);
    background: url(http://i.imgur.com/ut3AdK9.png);
  }

  img[src="/static/images/smileys/15.gif"]
  {
 /* pacd risitas */
    content: url(http://image.noelshack.com/fichiers/2016/43/1477531834-1473263957-risitas33.png);
    background: url(http://image.noelshack.com/fichiers/2016/43/1477531834-1473263957-risitas33.png);
  }

  img[src="/static/images/smileys/59.gif"]
  {
 /* sors */
    content: url(http://i.imgur.com/nDB3O88.gif);
    background: url(http://i.imgur.com/nDB3O88.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 50px !important;
    padding-top: 34px !important;
  }

  img[src="/static/images/smileys/67.gif"]
  {
 /* dpdr Larry */
    content: url(http://i.imgur.com/I06Ui2g.png);
    height: 53px;
    width: 70px;
  }

  img[src="/static/images/smileys/75.gif"]
  {
 /* pave Larry 2 */
    content: url(http://i.imgur.com/VrMwedd.png);
    height: 53px;
    width: 70px;
  }

  img[src="/static/images/smileys/12.gif"]
  {
 /* cd risisueur */
    content: url(http://i.imgur.com/23md1UU.png);
  }

  img[src="/static/images/smileys/16.gif"]
  {
 /* cute */
    content: url(http://image.noelshack.com/fichiers/2017/14/1491741511-cute4.gif);
    background: url(http://image.noelshack.com/fichiers/2017/14/1491741511-cute4.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 17px !important;
  }

  img[src="/static/images/smileys/20.gif"]
  {
 /* noel */
    content: url(http://i.imgur.com/4vm8srZ.gif);
    background: url(http://i.imgur.com/4vm8srZ.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/44.gif"]
  {
 /* rouge */
    content: url(http://i.imgur.com/eyjYH6l.gif);
    background: url(http://i.imgur.com/eyjYH6l.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/56.gif"]
  {
 /* spoiler nique */
    content: url(http://i.imgur.com/CVsXtDY.png);
  }

  img[src="/static/images/smileys/60.gif"]
  {
 /* salut */
    content: url(http://i.imgur.com/LDl3l8X.gif);
    background: url(http://i.imgur.com/LDl3l8X.gif);
  }

  img[src="/static/images/smileys/64.gif"]
  {
 /* bye */
    content: url(http://i.imgur.com/O8sp37p.gif);
    background: url(http://i.imgur.com/O8sp37p.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 44px !important;
    padding-top: 42px !important;
  }

  img[src="/static/images/smileys/72.gif"]
  {
 /* pf */
    content: url(http://i.imgur.com/S2cLPS5.gif);
    background: url(http://i.imgur.com/S2cLPS5.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[src="/static/images/smileys/76.gif"]
  {
 /* objection Larry 3 */
    content: url(http://i.imgur.com/hXP9J1L.png);
    height: 53px;
    width: 70px;
  }

  img[data-code=":globe:"]
  {
    content: url(http://i.imgur.com/vSdhzjz.gif);
    background: url(http://i.imgur.com/vSdhzjz.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[data-code=":mac:"]
  {
    content: url(http://i.imgur.com/Z1PynVF.gif);
    background: url(http://i.imgur.com/Z1PynVF.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 16px !important;
    padding-top: 16px !important;
  }

  img[data-code=":hapoelparty:"]
  {
 /* hapoelparty */
    content: url(http://i.imgur.com/nE9l0JD.gif);
    background: url(http://i.imgur.com/nE9l0JD.gif);
    height: 0 !important;
    width: 0 !important;
    padding-left: 45px !important;
    padding-top: 27px !important;
  }

  img[src="/static/images/roles/modtyr.png"]
  {
    content: url(http://image.noelshack.com/fichiers/2016/44/1478002257-modtyr.png);
  }

  img[src="/static/images/roles/enfantdufo.png"]
  {
    content: url(http://image.noelshack.com/fichiers/2016/44/1478002585-enfantdufo.png);
  }

  img[src="/static/images/roles/poucave.png"]
  {
    content: url(http://image.noelshack.com/fichiers/2016/44/1478002638-poucave.png);
  }

  img[src="/static/images/roles/victime.png"]
  {
    content: url(http://image.noelshack.com/fichiers/2016/44/1478459785-victime.png);
  }

  #msg_list>li.mil
  {
 /* Vote Modérateur*/
    color: #d8066c;
    font-size: 15px;
    font-style: italic;
  }

  #msg_list>li.m11
  {
 /* Modérateur*/
    color: #ff0a80;
    font-size: 15px;
  }

  #msg_list>li.m14
  {
 /* Epop*/
    color: #ffa500;
    font-size: 15px;
  }

  #msg_list>li.m15
  {
 /* Petit Bras*/
    color: #088da5;
    font-size: 15px;
  }

  #msg_list>h1
  {
 /* White'txt Debut*/
    color:#ffffff;
    text-decoration: underline;
}
#nb_votes{
	margin-top:0px;
	color:#ffff00;
	float:left;
}
#votes>li{
    display:table-caption;
}
li.Admin{
    color:#088da5;
}
li.Admin:hover{
    color:#2B6FB94;
    text-shadow: 2px 2px 2px black;
}
li.KGuevara{
    color:#eaea19;
}
li.SWiFT{
    color:#088da5;
}
li.Swift{
    color:#088da5;
}
li.Il_Cliviesi{
    color:#3e4d66;
}
li.K-s-K{
    color:orange;
}
li.Béchamel{
    color:orange;
}
li.ToastCitron{
    color:orange;
}
li.toastcitron{
    color:orange;
}
li.Kheygigigas{
    color:orange;
}
li.béchamel{
    color:orange;
}
li.Poucave{
    color:orange;
}
li.Mick404{
    color:#1d8236;
}
li.Gggg{
    color:#68acff;
}
li.Bitoku{
    color:#0050ff;
}
li.JFranswagg{
    color:#a03aff;
}
li.Hapitaine{
    color:#e50000;
}
li.Salawesh{
    color:#ef4928;
}
li.Kheyptincel{
    color:#ef4928;
}
li.Dracofeuj{
    color:#ef4928;
}
li.Meego{
    color:#ef4928;
}
li.BaiseSwift{
    color:#ef4928;
}
li.Amachat{
    color:#34a4b3;
}
li.Amacha{
    color:#34a4b3;
}
li.Eternary{
    color:#34a4b3;
}
li.Rageux{
    color:#34a4b3;
}
li.Juliette{
    color:#0b0b0b;
}
li.krasna{
    color:#0b0b0b;
}
li.Krasna{
    color:#0b0b0b;
}
li.Zelda{
    color:#acacac;
}
li.maison_arryn{
    color:#acacac;
}
li.WhiteNow{
    color:#FFFFFF;
}
li.Whitenow{
    color:#FFFFFF;
}
li.LuciOP{
    color:#568203;
}
li.Luci{
    color:#568203;
}
li.Maje{
    color:#ffc482;
}
li.Déçu{
    color:#3399ff;
}
li.Kaguya{
    color:#3399ff;
}
li.rob{
    color:#e6e6fa;
}
li.thepadre{
    color:#e6e6fa;
}
li.RealFigo{
    color:#e6e6fa;
}
li.Nass{
    color:#9b59b6;
}
li.Nassounet{
    color:#9b59b6;
}
li.ARKUnreal{
    color:#F3D511;
}
li.Scarecrow{
   color:pink;
}
li.scarecrow{
   color:pink;
}
li.collax{
   color:#d8066c;
}
li.Texas{
   color:#e6e6fa;
}
li.Grunt{
   color:#e6e6fa;
}
li.poukak{
   color:#e6e6fa;
}
li.vdd{
   color:#9EFD38;
}
li.pseudonyme{
   color:#e6e6fa;
}
li.pinacolada{
   color:#e6e6fa;
}
li.sky-s{
   color:#e6e6fa;
}
li.-Texas-{
   color:#e6e6fa;
}
li.Poukak{
   color:#e6e6fa;
}
li.bananasplit{
   color:#e6e6fa;
}
li.baugih{
   color:#e6e6fa;
}
li.Arigine{
   color:#e6e6fa;
}
li.TheRealBoy{
   color:#e6e6fa;
}
li.SsOOsSoSa{
   color:#e6e6fa;
}
li.Mayonettta{
   color:#e6e6fa;
}
li.motifazazaza{
   color:#e6e6fa;
}
li.bgdu12{
   color:#e6e6fa;
}
li.Petyr{
   color:#e6e6fa;
}
li.petyr{
   color:#e6e6fa;
}
li.Masuta{
   color:#e6e6fa;
}
a#connection:hover {
    color:#2691c2;
    text-decoration: underline;
}
button.add{
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-top:32px;
    vertical-align:top;
	outline:none;
}
button.add:hover{
    color: #fff;
    background: #5a75c6;
}
button.less{
    color: #fff;
    background: #7289da;
    font-size: 12px;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    margin-top:32px;
    vertical-align:top;
	outline:none;
}
button.less:hover{
    color: #fff;
    background: #5a75c6;   
}
input#moderateurs{
    background-color:#2E3136;
    border-width:1px;
    border-style: none none solid none;
    outline:none;
    font-size:13px;
    color:#737f8c;
    width:140px;
    margin-top:30px;
    vertical-align:top;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
input#forumeurs{
    background-color:#2E3136;
    border-width:1px;
    border-style: none none solid none;
    outline:none;
    font-size:13px;
    color:#737f8c;
    width:140px;
    margin-top:30px;
    vertical-align:top;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
input#multicompte{
    background-color:#2E3136;
    border-width:1px;
    border-style: none none solid none;
    outline:none;
    font-size:13px;
    color:#737f8c;
    width:140px;
    margin-top:30px;
    vertical-align:top;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
input#aleatoire{
    background-color:#2E3136;
    border-width:1px;
    border-style: none none solid none;
    outline:none;
    font-size:13px;
    color:#737f8c;
    width:140px;
    margin-top:30px;
    vertical-align:top;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
input#random{
    background-color:#2E3136;
    border-width:1px;
    border-style: none none solid none;
    outline:none;
    font-size:13px;
    color:#737f8c;
    width:140px;
    margin-top:30px;
    vertical-align:top;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
h3{
    margin-left:5px;
}
#logInfo{
    float:right;
    color:white;
    background-color:#2E3136;
    border-color:#1c1e21;
    border-style:solid;
    border-width:1px;
    text-align:center;
    padding:10px 10px 10px 10px;
}
#logInfo:before {
    content: "Dark Forum War"; 
    color:#c3c4c5;
}
}

@-moz-document url("http://forumwar.herokuapp.com/") {
body{ 
  background-image:url(http://i.imgur.com/Awh9AT8.jpg);
  margin-top:0;
  font-family: Verdana;
}
/* TITLES */

h2{
	font-size:21px;
	font-family:"Verdana";
}
h2.creer{
	font-size:28px;
	color: #FFFFFF;
	text-align:center;
	padding-top:-5px;
    margin-bottom:22px;
    font-family:Verdana;
}
h2.title{
	/*  Titres basiques du main */
	margin-left:0%;
	text-align:center;
	color:white;
    font-family:Verdana;
}
/* LISTES UL & LI */

ul{
	margin-left:2%;
	margin-top:-10px;
	list-style:square;
    color:red;
    font-family:Verdana;
}
li{
	padding:6px;
	text-align:center;
	width:92%;
    color:#737F8C;
    font-family:Verdana;

}

li:hover{
	color:#289bff;
	padding:6px;
	text-align:center;
	width:92%;
}
li:nth-child(even) {background: #2a2d32}
li:nth-child(odd) {background: #2a2d32}


/* INPUTS ZONES & FORM */

input{
	border-color:#737f8c;
    border-width:1px;
    border-style: none none solid none;
    border-radius:0px;
    text-align:center;
    outline:none;

	padding:4px;
	width:25%;
	height:35px;

	font-family: 'Verdana';
	font-size:13px;
    color:#737f8c;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input:focus{
	border-color:#7289DA;
    border-width:1px;
    border-style: none none solid none;
    border-radius:0px;

	box-shadow:none;

	padding:4px;
	width:25%;
	height:34px;

	font-family: 'Verdana';
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input.creer{
    font-size:13px;
    color: #fff;
    background: #7289da;
    border: none;
    border-color:#7289DA;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
	outline:none;
    width:69px;
	height:30px;
}
input.creer:hover{
    color: #fff;
    background: #5a75c6;
    width:69px;
	height:30px;
}
input.creer:active{
    font-size:12px;
    color: #fff;
    background: #5a75c6;
    border: none;
    border-color:#5a75c6;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    width:69px;
	height:30px;
}
input.creer:focus{
    font-size:12px;
    color: #fff;
    background: #5a75c6;
    border: none;
    border-color:#5a75c6;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    width:69px;
	height:30px;
}
 
form{
	width:100%;
	text-align:center;
}
#info{
    font-family:Verdana;
}

/* IMAGES */

img.header{
	height:80px;
	width:390px;
}


/* PARAGRAPHS */ 

p{
	font-family: 'Verdana';
}

p#connectes{
	font-size:23px;
    font-family:Verdana;

	position:absolute;
		right:40;
		bottom:18; /* Centrer Verticalement */
	    top:32;
        color:#e6e8ed;

	    text-transform:capitalize;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
p#connectes{
	font-size:23px;
    font-family:Verdana;
	position:absolute;
		right:40;
		bottom:8; /* Centrer Verticalement */
	    color:#e6e8ed;
	    top:8;

	text-transform:capitalize;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
p.pseudo{
color:#e6e8ed;
height:50px;
	font-size:23px;
	text-transform:capitalize;
    font-family:Verdana;

	position:absolute;
		left:42;
		top:-9;
		bottom:0; /* Centrer Verticalement */
}

/* LINKS */

a{
	height:50px;
	font-size:23px;
    color:#2a2d32;
}

#jeu>li>a{
	font-family:"Verdana";
	font-size:16px;
	color:#2691c2;

	text-align:center;
	text-decoration:none;
}

#jeu>li>a:hover{
	cursor:pointer;
    font-family:"Verdana";
	font-size:16px;
	color:#2691c2;

	text-align:center;
	text-decoration:underline;
}

a#connection{
	height:50px;
	font-size:20px;;
    text-transform:capitalize;
	position:absolute;
    font-family:Verdana;
    color:#e6e8ed;
		left:40;
		top:50;
		bottom:18; /* Centrer Verticalement */
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

a#connection:hover{
	cursor:pointer;
    height:50px;
    font-size:20px;
    text-transform:capitalize;
    position:absolute;
		left:40;
	    top:50;
		bottom:18; /* Centrer Verticalement */
	color:white;
}

#main{
	width:60%;
	height:100%;
	background-color:#2e3136;
    border-style:solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
    font-family:Verdana;
	margin-right:auto;
	margin-left:auto;

	margin-top:0px;

	padding:5px;
	padding-bottom:30px;

}

#header{
 	position:fixed;
    top:0;
	width:100%;
	height:100px;
    background-image:url(http://i.imgur.com/Kl00xpB.png);
    bottom: 0;
box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
    font-family:Verdana;

	    -webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;

}

#imageheader{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

#room_creation{
	border-bottom:dashed #282B30 5px;
	background-color:#2e3136;
	padding:5px;
    border-style:solid solid none solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
    font-family:Verdana;
	width:60%;

	margin-right:auto;
	margin-left:auto;

	margin-top:100px;

	padding-bottom:40px;

}

/* ROOM LISTS */

#room_list1{
	padding:10px;
	padding-bottom:35px;
	background-color:#2e3136;
    border-style:solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
    font-family:Verdana;
}
#room_list2{
	padding:10px;
    font-family:Verdana;
	padding-bottom:35px;

	margin-top:10px;
	margin-bottom:100px;
	background-color:#2e3136;
    border-style:solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
}


#footer{
	position:fixed;
		bottom:-100;
    display:none;

	width:100%;
	height:65px;
	background-image:url(http://i.imgur.com/Kl00xpB.png);

	color:#737f8c;
	font-family: 'Verdana';
	font-size:22px;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
button#top{
	float:right;
	margin-left:40px;
    font-family:Verdana;
	color:#737f8c;

	font-size:0.7em;

	width:130px;
	height:30px;

	background-color:#2e3136;
	border:solid  2px #2e3136;
	border-radius:2px;


	text-align:center;



	text-transform:uppercase;

	margin-top:15px;
}
button#top:hover{
	float:right;
	margin-left:40px;

	color:#737f8c;
    cursor:pointer;
	font-size:0.7em;

	width:130px;
	height:30px;

	background-color:transparent;
	border:solid  2px #289bff;
	border-radius:2px;
    text-align:center;
    text-transform:uppercase;
    margin-top:15px;
}
img[src="/static/images/header.png"] {
    content: url(http://i.imgur.com/sb53u4i.png);
}
::-webkit-scrollbar { width:6px; height:6px; }
::-webkit-scrollbar-track { background-color:#23272A; }
::-webkit-scrollbar-thumb { background-color:#4e535a; }
::-webkit-scrollbar-button { background-color:transparent; }
::-webkit-scrollbar-corner { background-color:transparent; }
#connectes{
    font-family:Verdana;
}

}

@-moz-document url("http://forumwar.herokuapp.com/login"), url("http://forumwar.herokuapp.com/inscription") {
body{
	background-image:url(http://i.imgur.com/tq7wPRN.png);
    font: 15px 'Verdana';
}
h2{
	font-size:3.3em;
	margin-bottom:9px;
	color:white;
    font-family:Verdana;
}
#login{
	width:400px;
	text-align:center;

	margin-right:auto;
	margin-left:auto;

	margin-top:200px;
}
#error{
	width:200px;
	height:45px;
	text-align:center;

	margin-right:auto;
	margin-left:auto;

	margin-top:20px;

	background-color:#2e3136;


	padding-top:1px;
	padding-bottom:5px;

	border:solid #2e3136;
	border-radius:4px;
}
#footer{
	position:fixed;
		bottom:-10;
		left:0;

	width:100%;
	height:115px;
    background-image:url(http://i.imgur.com/Kl00xpB.png);

	color:#FFFFFF;
	font-size:1.1em;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
button#top{
    color:#fff;
    background-color:#2e3136;
    border: none;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    
}
button#top:hover{
    color: #fff;
	background-color:#36393e;
	border:none;
}
input{
	border-color:#737f8c;
    border-width:1px;
    border-style: none none solid none;
    border-radius:0px;
    text-align:center;
    outline:none;
	font-family: 'Verdana';
	font-size:15px;
    color:#737f8c;
	padding:0.3em;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
input:focus{
	border-color:#7289DA;
    border-width:1px;
    border-style: none none solid none;
    border-radius:0px;
    text-align:center;
    outline:none;
	box-shadow:none;

	font-family: 'Verdana';
	font-size:15px;
    color:#737f8c;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
input.creer{
    font-size:13px;
    color: #fff;
    background: #7289da;
    border: none;
    border-color:#7289DA;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    width:100px;
}
input.creer:hover{
    color: #fff;
    background: #5a75c6;
}
input.creer:active{
    font-size:13px;
    color: #fff;
    background: #5a75c6;
    border: none;
    border-color:#7289DA;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
    width:100px;
} 
#rc-anchor {
    border-radius: 1px;
}
#rc-anchor-normal {
    height: 76px;
    width: 302px;
}p{
	color:#ffffff;
	font-weight:bold;
	text-transform:uppercase;
}
.g-recaptcha{
    margin-top:20px;
    margin-left:50px;
}
p#info{
    font-family: Verdana;
}
}

@-moz-document url("http://forumwar.herokuapp.com/rules") {
body{ 
    background-image:url(http://i.imgur.com/cc9vpWC.jpg);
    margin-top:100px;
    font-family: Verdana;
}
p{
    color:#8a8d94;
}
h1{
	font-size:2.5em;
	color: #FFFFFF;
	text-align:center;
}
h2{
	font-size:1.9em;
	color:#f78e74;
    font-family: Verdana;
}
h3{
	color:#6ad5ae;
    font-family: Verdana;
}
h2.title{
	/*  Titres basiques du main */
	margin-left:0%;
	text-align:center;
	color:white;
}
/* LISTES UL & LI */

ul{
	margin-left:2%;
	margin-top:-10px;
	list-style:square;
    color:red;
}
li{
	padding:6px;
	text-align:center;
	width:92%;
    color:#737F8C;
;
}

li:hover{
	color:#289bff;
	padding:6px;
	text-align:center;
	width:92%;
}
li:nth-child(even) {background: #2a2d32}
li:nth-child(odd) {background: #2a2d32}


/* INPUTS ZONES & FORM */

input{
	border-color:#737f8c;
    border-width:2px;
    border-style: none none solid none;
    border-radius:0px;
    text-align:center;
    outline:none;

	padding:4px;
	width:25%;
	height:35px;

	font-family: 'Verdana';
	font-size:15px;
    color:#737f8c;
    	-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input:focus{
	border-color:#7289DA;
    border-width:2px;
    border-style: none none solid none;
    border-radius:0px;

	box-shadow:none;

	padding:4px;
	width:25%;
	height:34px;

	font-family: 'Verdana';
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input.creer{
    font-size:13px;
    color: #fff;
    background: #7289da;
    border: none;
    border-color:#7289DA;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s;
    display: inline-block;
}
input.creer:hover{
    color: #fff;
    background: #5a75c6;
}
 
form{
	width:100%;
	text-align:center;
}

/* IMAGES */

img.header{
	height:80px;
	width:390px;
}


/* PARAGRAPHS */ 

p{
	font-family: 'Verdana';
}

p#connectes{
	font-size:25px;

	position:absolute;
		right:40;
		bottom:18; /* Centrer Verticalement */
	    top:32;
        color:#e6e8ed;

	    text-transform:capitalize;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
p#connectes{
	font-size:25px;

	position:absolute;
		right:40;
		bottom:8; /* Centrer Verticalement */
	    color:#e6e8ed;
	    top:8;

	text-transform:capitalize;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
p.pseudo{
color:#e6e8ed;
height:50px;
	font-size:25px;
	text-transform:capitalize;

	position:absolute;
		left:42;
		top:-9;
		bottom:0; /* Centrer Verticalement */
}

/* LINKS */

a{
	height:50px;
	font-size:25px;
    color:#2a2d32;
}

#jeu>li>a{
	font-family:"Verdana";
	font-size:1.1em;
	color:#2691c2;

	text-align:center;
	text-decoration:none;
}

#jeu>li>a:hover{
	cursor:pointer;
    font-family:"Verdana";
	font-size:1.1em;
	color:#2691c2;

	text-align:center;
	text-decoration:underline;
}

a#connection{
	height:50px;
	font-size:22px;;
    text-transform:capitalize;
	position:absolute;
    color:#e6e8ed;
		left:40;
		top:50;
		bottom:18; /* Centrer Verticalement */
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

a#connection:hover{
	cursor:pointer;
    height:50px;
    font-size:22px;
    text-transform:capitalize;
    text-decoration:underline;
    position:absolute;
		left:40;
	    top:50;
		bottom:18; /* Centrer Verticalement */
	color:white;
}

#main{
	width:60%;
	background-image:url(http://i.imgur.com/Kq2pjCt.jpg);
    border-style:solid;
    border-width:1px;
    border-color:#3e4454;
    box-shadow: 0px 5px 10px rgba(50, 63, 95, 0.2);

	margin-right:auto;
	margin-left:auto;

	margin-top:0px;

	padding:5px;
	padding-bottom:30px;

}

#header{
 	position:fixed;
    top:0;
	width:100%;
	height:100px;
    background-image:url(http://i.imgur.com/Kl00xpB.png);
    bottom: 0;
box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);

	    -webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;

}

#imageheader{
	width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

#room_creation{
	border-bottom:dashed #282B30 5px;
	background-color:#2e3136;
	padding:5px;
    border-style:solid solid none solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);

	width:60%;

	margin-right:auto;
	margin-left:auto;

	margin-top:100px;

	padding-bottom:40px;

}

/* ROOM LISTS */

#room_list1{
	padding:10px;
	padding-bottom:35px;
	background-color:#2e3136;
    border-style:solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
}
#room_list2{
	padding:10px;

	padding-bottom:35px;

	margin-top:10px;
	margin-bottom:100px;
	background-color:#2e3136;
    border-style:solid;
    border-width:1px;
    border-color:#36393e;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
}


#footer{
	position:fixed;
		bottom:-100;
    display:none;

	width:100%;
	height:65px;
	background-image:url(http://i.imgur.com/Kl00xpB.png);

	color:#737f8c;
	font-family: 'Verdana';
	font-size:22px;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
button#top{
	float:right;
	margin-left:40px;

	color:#737f8c;

	font-size:0.7em;

	width:130px;
	height:30px;

	background-color:#2e3136;
	border:solid  2px #2e3136;
	border-radius:2px;


	text-align:center;



	text-transform:uppercase;

	margin-top:15px;
}
button#top:hover{
	float:right;
	margin-left:40px;

	color:#737f8c;
    cursor:pointer;
	font-size:0.7em;

	width:130px;
	height:30px;

	background-color:transparent;
	border:solid  2px #289bff;
	border-radius:2px;
    text-align:center;
    text-transform:uppercase;
    margin-top:15px;
}
img[src="/static/images/header.png"] {
    content: url(http://i.imgur.com/sb53u4i.png);
}
::-webkit-scrollbar { width:6px; height:6px; }
::-webkit-scrollbar-track { background-color:#23272A; }
::-webkit-scrollbar-thumb { background-color:#4e535a; }
::-webkit-scrollbar-button { background-color:transparent; }
::-webkit-scrollbar-corner { background-color:#4e535a; }
