
body{margin:0; background-image:url(/static/images/login_back.jpg)}

h2{
	font-size:3.3em;
	margin-bottom:9px;
	color:white;
	font-family: 'Quicksand', sans-serif;
}

#login{
	width:200px;
	text-align:center;

	margin-right:auto;
	margin-left:auto;

	margin-top:320px;
}

#error{
	width:200px;
	height:50px;
	text-align:center;

	margin-right:auto;
	margin-left:auto;

	margin-top:20px;

	background-color:rgba(250, 250, 250, 0.3);

	font-family: 'Open Sans', sans-serif;
	padding-top:1px;
	padding-bottom:5px;

	border:solid rgba(250, 250, 250, 0.2) 2px;
	border-radius:4px;
}

#footer{
	position:fixed;
		bottom:-10;
		left:0;

	width:100%;
	height:115px;
	background-image:url(/static/images/transparency.png);

	color:white;
	font-family: 'Quicksand', sans-serif;
	font-size:1.1em;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

button#top{
	color:white;

	font-size:0.9em;

	width:130px;
	height:30px;

	background-color:red;
	border:solid 2px red;
	border-radius:3px;

	text-align:center;

	text-transform:uppercase;
	margin-top:1px;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

button#top:hover{
	color:white;

	font-size:0.9em;

	width:130px;
	height:30px;

	background-color:transparent;
	border:solid 2px red;
	border-radius:3px;

	text-align:center;

	text-transform:uppercase;
	margin-top:1px;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}


/* INPUT ZONES */

input{
	background-color:transparent;
	border:solid white 1px;
	border-radius:5px;
	color:white;

	padding:4px;
	width:180px;
	height:30px;

	font-family: 'Open Sans', sans-serif;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input:focus{
	background-color:transparent;
	border:solid white 2px;
	border-radius:5px;
	color:white;

	box-shadow:white 0px 0px 4px;

	padding:4px;
	width:180px;
	height:30px;

	font-family: 'Open Sans', sans-serif;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input.creer{
	border:solid white 1px;
	border-radius:5px;

	color:white;

	padding:0px;
	width:180px;
	height:30px;

	margin-top:10px;

	font-family: 'Open Sans', sans-serif;
	font-size:0.9em;
} 

p{
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}

p#info{
	/* Empty for js */
}