
body{ margin:0;background-image:url(/static/images/background.jpg);}

/* TITLES */

h2{
	font-size:2em;
	font-family: 'Quicksand', sans-serif;
}

h2.creer{
	font-size:2.5em;
	color:white;
	text-align:center;
	padding-top:-5px;

	margin-bottom:22px;
}

h2.title{
	/*  Titres basiques du main */
	margin-left:3%;
}

/* LISTES UL & LI */

ul{
	margin-left:2%;
	color:black;
	margin-top:-10px;
	margin-bottom:-10px;
	list-style:none;

	color:#006bd7;
}


li{
	padding:6px;
	padding-left:15px;
	width:90%;
	color:#006bd7;
}

li:hover{
	color:#006bd7;
	padding:6px;
	padding-left:15px;
	width:90%;
}

li:nth-child(even) {background: #eceff3}
li:nth-child(odd) {background: #f9fafc}


/* INPUTS ZONES & FORM */

input{
	background-color:transparent;
	border:solid white 2px;
	border-radius:5px;

	padding:4px;
	width:20%;
	height:34px;

	font-family: 'Open Sans', sans-serif;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input:focus{
	background-color:transparent;
	border:solid white 2px;
	border-radius:5px;

	box-shadow:white 0px 0px 4px;

	padding:4px;
	width:25%;
	height:34px;

	font-family: 'Open Sans', sans-serif;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

input.creer{
	border:solid white 1px;
	border-radius:5px;

	color:white;

	padding:0px;
	width:8%;
	height:30px;

	margin-top:10px;

	font-family: 'Open Sans', sans-serif;
	font-size:0.9em;
}

form{
	width:100%;
	text-align:center;
}

/* IMAGES */

img.header{
	height:80px;
	width:390px;
}


/* PARAGRAPHS */ 

p{
	font-family: 'Open Sans', sans-serif;
}

p#connectes{
	font-size:1.3em;

	position:absolute;
		right:40;
		bottom:18; /* Centrer Verticalement */
	color:white;

	text-transform:uppercase;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}
p.pseudo{
color:white;
height:50px;
	font-size:1.3em;
	text-transform:uppercase;

	position:absolute;
		left:240;
		top:;
		bottom:0; /* Centrer Verticalement */
}

/* LINKS */

a{
	font-family: Verdana;
	color:white;

	text-decoration:none;
}

#jeu>li>a{
	font-family: Verdana;
	font-size:1.1em;
	color:#006bd7;

	text-align:left;
	text-decoration:none;
}

#jeu>li>a:hover{
	font-family: Verdana;
	font-size:1.1em;
	color:#228df8;

	text-align:left;
	text-decoration:none;
}

a#connection{
	height:50px;
	font-size:1.3em;

	position:absolute;
		left:40;
		top:;
		bottom:18; /* Centrer Verticalement */
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

a#connection:hover{
	height:50px;
	font-size:1.3em;

	position:absolute;
		left:40;
		bottom:18; /* Centrer Verticalement */

	color:orange;
}

#main{
	width:65%;
	height:100%;
	background-color: rgba(310, 310, 310, 1);

	margin-right:auto;
	margin-left:auto;

	margin-top:0px;

	padding:5px;
	padding-bottom:30px;

}

#header{
	position:fixed;
		top:0;

	width:100%;
	height:100px;

	background-image:url(/static/images/transparency.png);
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

#imageheader{
	width:400px;

	margin-left:auto;
	margin-right:auto;
	text-align:center;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

#room_creation{
	border-bottom:solid orange 5px;
	background-color:rgba(30, 30, 30, 0.5);
	padding:5px;

	width:65%;

	margin-right:auto;
	margin-left:auto;

	margin-top:100px;

	padding-bottom:40px;

}

/* ROOM LISTS */

#room_list1{
	box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
	padding:10px;
	padding-bottom:35px;
}

#room_list2{
	box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.5);
	padding:10px;

	padding-bottom:35px;

	margin-top:10px;
	margin-bottom:100px;
}


#footer{
	position:fixed;
		bottom:-100;

	width:100%;
	height:65px;
	background-image:url(/static/images/transparency.png);

	color:white;
	font-family: 'Quicksand', sans-serif;
	font-size:1.3em;
		-webkit-transition: all 200ms linear;
	    -moz-transition: all 200ms linear;
	    -o-transition: all 200ms linear;
	    -ms-transition: all 200ms linear;
	    transition: all 200ms linear;
}

#credits{

}

button#top{
	float:right;
	margin-right:30px;

	color:white;

	font-size:0.7em;

	width:130px;
	height:30px;

	background-color:red;
	border:solid 4px red;
	border-radius:3px;

	text-align:center;



	text-transform:uppercase;

	margin-top:15px;



}

