<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/static/style/login.css" media="all" />
				<link rel="stylesheet" type="text/css" href="/static/style/darktheme.css">
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png" href="/static/images/icon.png" />
		<script src="/static/javascript/swfstore.min.js"></script>
		<script src="/static/javascript/jquery-2.1.4.min.js"></script>
		<title> Login </title>
	</head>
	<body>
		<div id="main">
			<div id="login">
				<h2>LOGIN</h2>
				<form action="/login" method="post">
					<input type="text" name="pseudo" placeholder="pseudo"/>
					<input type="password" name="password" placeholder="password"/>
					<input id="uid" type="hidden" name="uid" value=""/>
					<input id="info" type="hidden" name="info" value=""/>
					<input id="submit" class="creer" type="submit" value="Connexion"/>
				</form>
			<div>
			<div id="error">
				{% if error == 1%}
					<p>Pseudo Introuvable</p>
				{% elif error == 2%}
					<p>Mot de passe incorrect</p>
				{% elif error == 3%}
				    <p>Erreur, vous êtes déjà connecté avec un autre pseudo</p>
				{% elif error == 4%}
				    <p>Erreur, ce pseudo est déjà connecté</p>
				{% end %}
			</div>
		</div>
		<div id="footer">
			<p id="info">Pas Encore Inscrit ?</p>
			<button id="top" onclick="location.href='/inscription'">Inscription</button>
		</div>

		<script type="text/javascript">

		// vars //

		var info = document.getElementById('info');

		function support(){
			info.innerHTML = "Cette fonction n'est pas disponible.."
			setTimeout(temp, 1500);
			
		}

		function temp(){
			info.innerHTML = "La page va se recharger, patientez.."
			setTimeout(reload, 1000);

		}

		function reload(){
			document.location.href="login.html" 
		}



		//Anti-multicompte
		function randomString(length, chars) {
		    var result = ""+navigator.appVersion+window.screen.availWidth+window.screen.availHeight;
		    length -= result.length;
		    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
		    return result;
		}
		//res = randomString(256, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
		
		var swfstore = new SwfStore({
			namespace: "forumwar",
			swf_url: "/static/swf/storage.swf",
			debug:true,
			onready: function(){
				var res = swfstore.get("uid");
				if(res == null){
					res = randomString(256, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
					swfstore.set("uid",res);
				}
				$("#uid").val(res);
				$("#SwfStore_forumwar_0").hide();
			},
			onerror: function(){}
		});

		function inf(){
			var inf = "";
			inf += navigator.appVersion+window.screen.availWidth+window.screen.availHeight;
			$("#info").val(inf);
		}
		inf();


		</script>
	</body>
</html>
